
#homeBackgroundImage {
    height: 500px;
    background-image: url("/public/images/skyhomepage.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color:antiquewhite;
    
}
#homeBackgroundImage h1 {
    font-size: 70px;
    text-align: center;
}
#homeBackgroundImage h3 {
    font-size: 40px;
    text-align: center;
}
.snippet {
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.latest-posts .card-img-top {
    max-height: 200px;
}
.ql-editor {
    height:500px;
}

.singlepostbackground {
    margin-top: 5px;
    /* background-color: rgb(255, 255, 255); */
    
}

#blog-form {
    background-color: white;
    border-radius: 5px;
}

.navbar {
    box-shadow: 0px 2px 10px #777
}

#nav-image {
     background-image: ("/public/images/chart wheel.jpg")
}
.rateblog {
    font-size: 20px;
}

.header-wrapper {
    background-image: url("/public/images/skyhomepage.jpg");
    color:white;
}

.horoscope-details-loader {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
