/* * {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 0, 32);
    padding: 40px;
}

.list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.list ul li {
    list-style: none;
    margin: 42px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 25px;
    background-color: transparent;
    border: 2px solid rgb(12, 0, 66);
}

a:hover {
    .background-color: rgb(12, 0, 66);
    color: rgb(255, 255, 255); }*/

#homeBackgroundImage {
    height: 500px;
    background-image: url("/public/images/skyhomepage.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color:antiquewhite;
}
#homeBackgroundImage h1 {
    font-size: 70px;
    text-align: center;
}
#homeBackgroundImage h3 {
    font-size: 40px;
    text-align: center;
}
.snippet {
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.latest-posts .card-img-top {
    max-height: 200px;
}
.ql-editor {
    height:500px;
}